<%= render 'partials/header' %>

<main>
    <nav class="breadcrumb-list contents-pc contents" aria-label="パンくずリスト">
        <ol class="breadcrumb mb-1 py-1 bg-white">
            <li class="breadcrumb-item"><a href="http://localhost:3000">ホーム</a></li>
            <% @category_large.each do |large| %>
                <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost:3000/categories/<%= large.id %>"><%= large.large_category %></a></li>
            <% end %>
            <% @category_medium.each do |medium| %>
                <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost:3000/categories/<%= medium.id %>"><%= medium.medium_category %></a></li>
            <% end %>
            <% @category_small.each do |small| %>
                <li class="breadcrumb-item active" aria-current="page"><a href="http://localhost:3000/categories/<%= small.id %>"><%= small.small_category %></a></li>
            <% end %>
        </ol>
    </nav>
</main>

    <section>
        <div class="wrapper-itemdetail">
            <div class="inner-contents">
                <div class="itemdetail-img-adjustment">
                    <div class="itemdetail-img-adjustment-column">
                    <% @mercari_item_images_other.each do |mercari_item_image_other| %>
                        <img src="<%= mercari_item_image_other.item_image_url %>" class="itemdetail-img-side">
                    <% end %>
                    </div>
                    <img src="<%= @mercari_item_images_first.item_image_url %>" class="itemdetail-img">
                    <div class="itemdetail-introduction-box"> 
                        <div class="itemdetail-introduction-inner">
                            <p class="itemdetail-introduction-box-shop"><%= @mercari_item.item_brand %></p>
                            <h1 class="itemdetail-introduction-box-title"><%= @mercari_item.item_title %></h1>
                            <hr class="itemdetail-introduction-box-line">
                            <div class="itemdetail-introduction-box-text-inner">
                                <div class="itemdetail-introduction-box-text-column-left">
                                    <p>商品のサイズ</p>
                                    <p>商品の状態</p>
                                    <p>ブランド</p>
                                    <p>出品先</p>
                                </div>
                                <div class="itemdetail-introduction-box-text-column-right">
                                    <p><%= @mercari_item.item_size %></p>
                                    <p><%= @mercari_item.item_status %></p>
                                    <p><%= @mercari_item.item_brand %></p>
                                    <img src="/assets/logo-mercari.png" class="itemdetail-introduction-box-logo">
                                </div>
                            </div>
                            <hr class="itemdetail-introduction-box-line">
                            <div class="itemdetail-price-button-adjustment">
                                <div class="itemdetail-price-inner-left">
                                    <div class="itemdetail-carriage">
                                        <p class="itemdetail-carriage-text">送料込み</p>
                                    </div>
                                    <p class="itemdetail-price"><%= @mercari_item.item_fee %></p>
                                </div>
                                <div class="itemdetail-button-inner-right">
                                    <div class="itemdetail-button-good">
                                        <div class="itemdetail-button-good-heart">
                                        </div>
                                        <p class="itemdetail-button-good-text"><%= @mercari_item.item_good %></p>
                                    </div>
                                    <button class="itemdetail-button">詳細を見る</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper-recommenditem">
            <div class="inner-contents">
                <h2>類似した<%= @mercari_item.item_category_small %>の中古品</h2>
                <div class="recommenditem-box-adsjustment">
                    <div class="recommenditem-prevnext">
                        <p class="recommenditem-prevnext-text"><</p>
                    </div>
                    <% @mercari_items_carousel_category_small.each do |mercari_items_carousel_category_small| %>
                        <div class="recommenditem-box">
                            <a href="http://localhost:3000/items/<%= mercari_items_carousel_category_small.mercari_item_id %>">
                                <img src="<%= mercari_items_carousel_category_small.item_image_url %>" class="recommenditem-img">
                                <p class="recommenditem-title"><%= mercari_items_carousel_category_small.item_brand %></p>
                                <p class="recommenditem-description"><%= mercari_items_carousel_category_small.item_title %></p>
                                <div class="recommenditem-price-button-adjustment">
                                    <p class="recommenditem-price">¥ <%= mercari_items_carousel_category_small.item_fee %></p>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="more-button-recommenditem">
                    <p class="more-button-recommenditem-text">もっと見る</p>
                </div>
                <h2>類似した<%= @mercari_item.item_category_medium %>の中古品</h2>
                <div class="recommenditem-box-adsjustment">
                    <div class="recommenditem-prevnext">
                        <p class="recommenditem-prevnext-text"><</p>
                    </div>
                    <% @mercari_items_carousel_category_medium.each do |mercari_items_carousel_category_medium| %>
                        <div class="recommenditem-box">
                            <a href="http://localhost:3000/items/<%= mercari_items_carousel_category_medium.mercari_item_id %>">
                                <img src="<%= mercari_items_carousel_category_medium.item_image_url %>" class="recommenditem-img">
                                <p class="recommenditem-title"><%= mercari_items_carousel_category_medium.item_brand %></p>
                                <p class="recommenditem-description"><%= mercari_items_carousel_category_medium.item_title %></p>
                                <div class="recommenditem-price-button-adjustment">
                                    <p class="recommenditem-price">¥ <%= mercari_items_carousel_category_medium.item_fee %></p>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="more-button-recommenditem">
                    <p class="more-button-recommenditem-text">もっと見る</p>
                </div>
                <h2>類似した<%= @mercari_item.item_category_large %>の中古品</h2>
                <div class="recommenditem-box-adsjustment">
                    <div class="recommenditem-prevnext">
                        <p class="recommenditem-prevnext-text"><</p>
                    </div>
                    <% @mercari_items_carousel_category_large.each do |mercari_items_carousel_category_large| %>
                        <div class="recommenditem-box">
                            <a href="http://localhost:3000/items/<%= mercari_items_carousel_category_large.mercari_item_id %>">
                                <img src="<%= mercari_items_carousel_category_large.item_image_url %>" class="recommenditem-img">
                                <p class="recommenditem-title"><%= mercari_items_carousel_category_large.item_brand %></p>
                                <p class="recommenditem-description"><%= mercari_items_carousel_category_large.item_title %></p>
                                <div class="recommenditem-price-button-adjustment">
                                    <p class="recommenditem-price">¥ <%= mercari_items_carousel_category_large.item_fee %></p>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="more-button-recommenditem">
                    <p class="more-button-recommenditem-text">もっと見る</p>
                </div>
                <h2>類似した<%= @mercari_item.item_brand %>の中古品</h2>
                <div class="recommenditem-box-adsjustment">
                    <div class="recommenditem-prevnext">
                        <p class="recommenditem-prevnext-text"><</p>
                    </div>
                    <% @mercari_items_carousel_brand.each do |mercari_items_carousel_brand| %>
                        <div class="recommenditem-box">
                            <a href="http://localhost:3000/items/<%= mercari_items_carousel_brand.mercari_item_id %>">
                                <img src="<%= mercari_items_carousel_brand.item_image_url %>" class="recommenditem-img">
                                <p class="recommenditem-title"><%= mercari_items_carousel_brand.item_brand %></p>
                                <p class="recommenditem-description"><%= mercari_items_carousel_brand.item_title %></p>
                                <div class="recommenditem-price-button-adjustment">
                                    <p class="recommenditem-price">¥ <%= mercari_items_carousel_brand.item_fee %></p>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="more-button-recommenditem">
                    <p class="more-button-recommenditem-text">もっと見る</p>
                </div>
            </div>
        </div>
    </section>
</main>